.saved-note-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #595959;
    font-family: 'Poppins', sans-serif;
}

.saved-note-body {
    font-size: 1rem;
    line-height: 1.3;
    color: #434343;
    height: 135px;
    overflow: hidden;
}